<!DOCTYPE html>
<html lang="en">
<title>WeatherNow!</title>
<body>
    <h1>
       <img src="{{url_for('static', filename='weatherNOW.png')}}" />
    </h1>
  </body> 
    <form method="POST">
        <input type="text" name = "city">
        <input type="submit" value="Get Temperature">
    </form>
    <div style="display:inline-block;horizational-align:left;">
        <img src={{icon}} alt="Weather Icon" width="75" height="75">      
    </div>
    <div style="display:inline-block;"
        <h2>{{city}}, {{region}} Weather </h2>  
    </div>
    <h3>{{temperature}} &#8457</h3>
    <h4>Feels like: {{feelsLike}} &#8457 </h4>
</body>
</html>
